.tokenSelector {
  position: relative;
  display: inline-block;
  justify-content: flex-start; 
  text-align: left;
  width: 100%;
}

.select {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  
}

.tokenLogo {
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.tokenOption {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.tokenOption:hover {
  background-color: #3a3a3a;
}

.tokenInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  text-align: left;
  width: 100%; 
}

.tokenSymbol {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.tokenFullName {
  font-size: 12px;
  color: #aaa;
}

.tokenAddress {
  font-size: 12px;
  color: #f39c12;
  cursor: pointer;
}

.tokenAddress:hover {
  text-decoration: underline;
}











/*.tokenSelector {
  display: flex;
  align-items: center;
  width: 100%;
  background: #1e293b;
  border-radius: 6px;
  padding: 6px;
}

.select {
  flex-grow: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  background: #334155;
  color: white;
  cursor: pointer;
}

.tokenLogoContainer {
  width: 30px;
  height: 30px;
  margin-left: -35px;
}

.tokenLogo {
  width: 100%;
  height: 100%;
}*/
