/* NavBar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #d1d5db; /* bg-gray-300 */
  }
  
  .title {
    font-family: serif;
    font-size: 2rem;
    padding: 5px;
  }
  
  .walletButton {
    display: flex;
    align-items: center;
  }

  .disconnectButton {
    background-color: rgb(15, 15, 15); /* Красная кнопка */
    color: white; /* Белый текст */
    border: none;
    padding: 13px 13px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    margin-right: 16px; /* Отступ от WalletMultiButton */
  }
  
  .disconnectButton:hover {
    background-color: darkred; /* Темнее при наведении */
  }
  
  /* Стили для мобильных устройств */
@media (max-width: 768px) {
  .walletButton button {
    max-width: 120px; /* Еще больше уменьшаем на мобильных */
    font-size: 0.9rem;
    padding: 6px 10px;
  }
  
  .disconnectButton {
    font-size: 0.9rem;
    padding: 8px 10px;
  }
}