/* TokenSelector.module.css */
.container {
    padding: 1rem;
    width: 3rem;
   
  }
  
  .title {
    font-size: 1.125rem; /* text-lg */
  }
  
  .tokenGrid {
    display: grid;
    grid-template-columns: repeat(1, 1rem);
    gap: 1rem;
  }
  
  .tokenButton {
    width: 3rem;
    padding: 0.5rem;
    border: 1px solid #d4cd12;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
  }
  
  .tokenImage {
    width: 2rem;
    height: 2rem;
    display: inline-block;
  }
  
  .tokenName {
    margin-left: 0.5rem;
  }
  