:root {
  --background: #ffffff;
  --foreground: #171717;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr; 
  height: 50vh;
}
/* Изменяем размер кнопки WalletMultiButton */
.wallet-adapter-button {
  font-size: 1rem !important; /* Уменьшаем размер текста */
  padding: 6px 12px !important; /* Уменьшаем отступы */
  max-width: 160px !important; /* Ограничиваем ширину */
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; /* Добавляем "..." если текст не влезает */
}

/* Стили для мобильных устройств */
@media (max-width: 760px) {
  .wallet-adapter-button {
    font-size: 0.8rem !important;
    max-width: 100px !important;
    padding: 5px 10px !important;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


button.wallet-adapter-button-trigger {
  background: rgb(240, 20, 20);
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  transition: all 0.3s ease;
}

button.wallet-adapter-button-trigger:hover {
  background-color: rgb(13, 216, 57) !important;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}


.left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.left {
  background-color: #1e293b; /* Цвет левой половины */
  color: white;
}

.right {
  background-color: #334155; /* Цвет правой половины */
  color: white;
}

.containerM {
  display: flex;
  width: 100vw; /* Занимает всю ширину экрана */
  height: 100vh; /* Занимает всю высоту экрана */
}

.section {
  flex: 1; /* Равномерное распределение */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc; /* Для наглядности */
}
